body {
  font-family: $headType;
  font-size: 17px;
  line-height: 1.9;
  color: #2c2c2c;
  letter-spacing: 0.3px;
  text-align: justify;
}

.row {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1024px;
  margin: auto;

  @media (max-width: 1024px) and (min-width: 900px) {
    max-width: 880px;
  }

  @include device(xs) {
    padding-top: 60px;
    padding-bottom: 60px;

  }
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  font-family: $headType;
  letter-spacing: -0.6px;
  line-height: 1.3;
  margin-bottom: 20px;
}

h2 {
  font-size: 40px;
}

.transition {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

a {
  @extend .transition;
  text-decoration: none !important;

  &.btn {
    background: rgb(0,171,220); /* Old browsers */

    position: relative;

    padding: 12px 20px;
    color: #fff !important;
    font-family: $headType;
    letter-spacing: 1px;
    font-size: 18px;
    box-shadow: 0 0 0px 0px rgba(152, 123, 123, 0);

    &:hover {
      //box-shadow: 0 0 66px 4px rgba(152, 123, 123, 0.18);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
  &.btn-larger {
    font-size: 25px;
    padding: 12px 30px;
  }
}

p {
  margin-bottom: 25px;
}



img {
  max-width: 100%;
  &.center {
    display: block;
    margin: auto;
  }
}
