.hero-wrap {
  padding-top: 60px;
  position: relative;
  text-align: center;
  @include device(md-up) {
    padding-top: 110px;
  }
  .welcome {
    content: " ";
    display: block;
    width: 100%;
    height: 100vh;
    background: #e3e3e3;
    background: url("../img/synago-praca.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
  }
}

.stripes {
  width: 30px;
}

.info-content {
  @include device(sm-down) {
    font-size: 13px;
  }
  @include device(xs) {
    font-size: 16px;
  }
}
.info-img {
  //@include device(sm-down) {
  //  font-size: 13px;
  //  //padding-bottom: 150px;
  //
  //}
  @include device(xs) {
   padding: 0 30px;
  }
}

#about-us {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  h2, .icons {
    color: $headColor;
  }
  p {
    color: $headColor;
  }
  &:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 50%;
    width: 190vw;
    height: 190vw;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    background: rgba(240,249,255,1);
    @include device(sm-down) {
      border-radius: 0;
      height: 100%;
      width: 100%;
    }
  }
}

#offer p {
  margin: 0 !important;
}
