$headType: 'Ubuntu Condensed', sans-serif;
$headTypeLight: 'Ubuntu Condensed', sans-serif;
$bodyType: "'Ubuntu Condensed'", sans-serif;
$bodyTypeBold: 'Ubuntu Condensed', sans-serif;
$headColor: #403F41;
$headingsType: 'Ubuntu', sans-serif;
$greenlogo: #AFD032;
$bluelogo: #00ABDC;
$redlogo: #EB1923;
$greylogocolor: #424143;

