body {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 17px;
  line-height: 1.9;
  color: #2c2c2c;
  letter-spacing: 0.3px;
  text-align: justify; }

.row {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1024px;
  margin: auto; }
  @media (max-width: 1024px) and (min-width: 900px) {
    .row {
      max-width: 880px; } }
  @media only screen and (max-width: 767px) {
    .row {
      padding-top: 60px;
      padding-bottom: 60px; } }

h1, h2, h3, h4, h5 {
  margin-top: 0;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: -0.6px;
  line-height: 1.3;
  margin-bottom: 20px; }

h2 {
  font-size: 40px; }

.transition, a, .header, .header .row, .process-wrap .process-item:before {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

a {
  text-decoration: none !important; }
  a.btn {
    background: #78d2ed;
    /* Old browsers */
    position: relative;
    padding: 12px 20px;
    color: white;
    font-family: "Ubuntu Condensed", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    border-radius: 0 !important; }
    a.btn:hover {
      box-shadow: 0 0 66px 4px rgba(152, 123, 123, 0.18);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05); }
  a.btn-larger {
    font-size: 25px;
    padding: 12px 30px; }

p {
  margin-bottom: 25px; }

img {
  max-width: 100%; }
  img.center {
    display: block;
    margin: auto; }

.wow {
  visibility: hidden; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 0 66px 4px rgba(152, 123, 123, 0); }
  @media only screen and (max-width: 991px) {
    .header {
      position: fixed;
      background: rgba(255, 255, 255, 0.95);
      box-shadow: 0 0 66px 4px rgba(152, 123, 123, 0.18); } }
  .header.scrolled {
    background: whitesmoke;
    box-shadow: 0 0 66px 4px rgba(152, 123, 123, 0.18); }
    .header.scrolled .row {
      padding-top: 10px;
      padding-bottom: 10px; }
    .header.scrolled .logo img {
      max-width: 200px; }
  .header .row {
    padding-top: 60px;
    padding-bottom: 60px; }
    @media only screen and (max-width: 991px) {
      .header .row {
        padding-top: 10px;
        padding-bottom: 10px; }
        .header .row .logo img {
          max-width: 200px; }
        .header .row li {
          display: none; }
        .header .row .menu-trigger {
          display: inline-block; } }
    @media only screen and (min-width: 992px) {
      .header .row .menu-trigger {
        display: none; } }
  .header .logo img {
    max-width: 260px; }
  .header nav {
    text-align: right; }
    .header nav li {
      display: inline-block; }
    .header nav a {
      font-size: 18px;
      color: #403F41;
      text-transform: uppercase;
      font-family: "Ubuntu Condensed", sans-serif;
      letter-spacing: 1px;
      display: block;
      padding: 10px 0px 10px 20px; }

#menu.active li {
  display: block;
  margin-left: 18px; }

.hero-wrap {
  padding-top: 60px;
  position: relative;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .hero-wrap {
      padding-top: 110px; } }
  .hero-wrap .welcome {
    content: " ";
    display: block;
    width: 100%;
    height: 100vh;
    background: #e3e3e3;
    background: url("../img/synago-praca.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain; }

.stripes {
  width: 30px; }

@media only screen and (max-width: 991px) {
  .info-content {
    font-size: 13px; } }
@media only screen and (max-width: 767px) {
  .info-content {
    font-size: 16px; } }

@media only screen and (max-width: 767px) {
  .info-img {
    padding: 0 30px; } }

#about-us {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px; }
  #about-us h2, #about-us .icons {
    color: #403F41; }
  #about-us p {
    color: #403F41; }
  #about-us:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 50%;
    width: 190vw;
    height: 190vw;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    background: #f0f9ff; }
    @media only screen and (max-width: 991px) {
      #about-us:before {
        border-radius: 0;
        height: 100%;
        width: 100%; } }

#offer p {
  margin: 0 !important; }

.process-wrap {
  position: relative;
  overflow: hidden;
  padding-bottom: 30px; }
  .process-wrap h2, .process-wrap .icons {
    color: black; }
  .process-wrap p {
    color: black; }
  .process-wrap .icons {
    max-width: 15%;
    padding-top: 25px; }
  .process-wrap:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    width: 190vw;
    height: 190vw;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 100%;
    display: block;
    background: #00abdc;
    /* Old browsers */
    background: -moz-linear-gradient(top, #00abdc 0%, #00abdc 0%, #f0f9ff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #00abdc 0%, #00abdc 0%, #f0f9ff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #00abdc 0%, #00abdc 0%, #f0f9ff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00abdc', endColorstr='#f0f9ff', GradientType=0);
    /* IE6-9 */ }
    @media only screen and (max-width: 991px) {
      .process-wrap:before {
        border-radius: 0;
        height: 100%;
        width: 100%; } }
  .process-wrap .process-flow {
    max-width: 860px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative; }
    .process-wrap .process-flow:before {
      position: absolute;
      content: " ";
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 4px;
      height: 100%;
      background: rgba(255, 255, 255, 0.29);
      display: block; }
      @media only screen and (max-width: 767px) {
        .process-wrap .process-flow:before {
          display: none; } }
  @media only screen and (max-width: 767px) {
    .process-wrap .process-row {
      margin-bottom: 40px; }
      .process-wrap .process-row + div {
        padding-top: 40px;
        border-top: 1px solid rgba(255, 255, 255, 0.27); } }
  .process-wrap .process-item {
    padding-left: 25px;
    padding-right: 25px;
    position: relative; }
    @media only screen and (max-width: 767px) {
      .process-wrap .process-item {
        text-align: center !important; } }
    .process-wrap .process-item:hover:before {
      box-shadow: 0px 0px 25px 2px whitesmoke, 0 0 0px 6px transparent;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
    .process-wrap .process-item:before {
      content: " ";
      position: absolute;
      top: 42px;
      left: -9px;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      display: block;
      border: 4px solid #fff;
      background: #403F41;
      box-shadow: 0px 0px 25px 2px whitesmoke;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
      @media only screen and (max-width: 767px) {
        .process-wrap .process-item:before {
          display: none !important; } }
    .process-wrap .process-item.is-left {
      text-align: right; }
      .process-wrap .process-item.is-left:before {
        left: auto;
        right: -9px; }
    .process-wrap .process-item .icons {
      margin-bottom: 10px; }

@media only screen and (max-width: 767px) {
  .cta-wrap {
    text-align: justify; }
    .cta-wrap .box {
      padding: 30px 10px !important; }
    .cta-wrap .clearfix h2 {
      font-size: 27px;
      padding-top: 30px; }
    .cta-wrap .btn {
      font-size: 18px !important; } }
.cta-wrap .box {
  padding: 50px; }
.cta-wrap.cta-mid .row {
  padding-top: 0;
  padding-bottom: 0; }
.cta-wrap.cta-mid .box {
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  -o-transform: translateY(-5%);
  transform: translateY(-5%); }
.cta-wrap .btn {
  margin-top: 36px; }

.box {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0 0 66px 4px rgba(152, 123, 123, 0.18); }

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden; }

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }

footer {
  margin: 0 auto;
  text-align: center; }
  footer p {
    padding-top: 10px;
    font-size: 14px; }

/*# sourceMappingURL=style.css.map */
